sending-sms-to-users.json
{"id":"1","name":"Send SMS from MySQL Data with Twilio","nodes":[{"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[250,300],"parameters":{},"typeVersion":1},{"name":"MySQL","type":"n8n-nodes-base.mySql","position":[450,300],"parameters":{"operation":"executeQuery","query":"SELECT name, phone_number FROM contacts_table WHERE notified = 0;","additionalOptions":{}},"credentials":{"mySql":{"user":"root","password":"Varun@150","database":"Inner_root","host":"127.0.0.1","port":3306}},"typeVersion":1},{"name":"Twilio","type":"n8n-nodes-base.twilio","position":[650,300],"parameters":{"to":"={{$node[\"MySQL\"].json[\"phone_number\"]}}","from":"","message":"=Hello {{$node[\"MySQL\"].json[\"name\"]}}!\nYour submission to Inner Root has been received and verified in our heritage database. 🙏"},"credentials":{"twilioApi":{"accountSid":"","authToken":"rWwai3AM81ttcz22WTo29jyinkOw4ZDY"}},"typeVersion":1}],"active":false,"settings":{},"connections":{"Twilio":{"main":[[]]},"MySQL":{"main":[[{"node":"Twilio","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"MySQL","type":"main","index":0}]]}}}
